<div class="form_container">


<%= simple_form_for(@cocktail, html:{class: "form-group new"}) do |f|%>

<%= f.input :name, class: "form-control" %>

<%= f.input :photo, as: :file %>

<%# <%= f.text_field :image, class: "form-control" %>

<%= f.submit "agregar", class: "btn-primary mb-2"%>

<% end %>


</div>
