
<div class="container">
<% if @cocktail.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(@cocktail.photo.key) %>);"> 
<% end  %>

<div class="card">
  <div class="card-header">
    <h2><%= @cocktail.name %></h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">Ingredients</h5>
    <p class="card-text"><ul><% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> = <%= dose.ingredient.name %>
    <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: 'are you sure?' } %></li>
  <% end %>
  </ul></p>
  </div>
</div>
  </div>

<div class="doses_form">
<h3>Add Doses</h3>
<%= render 'doses/new' %>
</div>
</div>

